.navbar{
  display:flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid blue;
  height: 10vh;
  justify-content: space-between;
}

.navHome{
  display:flex;
  justify-content: space-evenly;
  padding: 2vh;
  position: relative;
  left: 5vh;
  width: 10vw;
}

.navEnd{
  display:flex;
  justify-content: space-between;
  padding: 2vh;
  width: 10vw;
}
