.navbar{
  display:flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid rgb(160, 155, 155);
  height: 10vh;
  justify-content: space-between;
  position: fixed;
  margin: 0;
  background-color: whitesmoke;
  z-index: 1;
}

.navHome{
  display:flex;
  justify-content: space-between;
  padding: 2vh;
  position: relative;
  left: 5vh;
  width: 10vw;
}

.navEnd{
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 2vh;
  width: 15vw;
}

.user-name{
  position: relative;
  right: 15px;
}

.account-buttons{
  width: 15vw;
  display: flex;
  justify-content: space-between;
  position: relative;

}

.app-icon{
  max-width: 10vw;
  height: 10vh;
  border-radius: 50px;
  position: relative;
  bottom: 2vh;
  right: 1vh;
  cursor: pointer;
}

.logout-container{
  display: flex;
  position: relative;
  bottom: 1vh;
}

.logout-button{
  position: relative;
  top:1.75vh;
  height:5vh;
}

.upload-container{
  position: relative;
  left: 10px;
  top: 5px;
}
