

.edit-spot-form-container{
  display: flex;
  align-items: center;
  justify-content: center;

  height: 77vh;
  width: 20vw;
}


.counter{
  margin: 0;
  color:gray;
  font-size: 12px;

}

.spot-forms{
  height: 66vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

textarea{
  min-width:16vw;
  max-width: 16vw;
  min-height: 15vh;
  max-height: 15vh;
  resize: none;
}

.cancel{
  position: relative;
  top: 1vh;
}


.spotInputField{
  width: 16vw;
}
