.outermostSignupDiv{
    background-color: #edeefa;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    border-radius: 10px;
    }
.signupForm{
    display: flex;
    justify-content: space-between;


}

.someOther-div{
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    height: 50vh;
    width: 25vw;
}

.label-container{

 display: flex;
 justify-content: space-evenly;
 flex-direction: column;
}

.signupemailbox{
    width: 20vw;
    border-radius: 5px;
}




.signupemailbox{
    height: 2vh;

}
/*
.signupNavBar{
    display: flex;
    flex-direction: row;
    align-content: center;
    min-height: 20px;
    background-color: #d6d6d6;
    justify-content: space-around;
}

#userNameSignUpBox{
   margin-left: 80px;
}


#signUpLastNameBox{
    margin-left: 80px;
}

#firstnamesignupbox{
    margin-left: 66px;
}


#passwordSignUpIdBox{
    margin-left: 92px;
}

#signupForm{

    display: flex;
    min-width: 250px;
    align-items: left;
    flex-direction: column;
    background-image: linear-gradient(#d6d6d6, #f7eac6);

}


.imageSignupDiv{

}

#signupImage{
    height: 300px;
    width: 300px;
    border-radius: 20px;
}

.outerSignupDiv{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#loginButton{
    width: 424px;
    height: 3rem;
    background-color: #EDB714;
    color: #161614;
    border-radius: 12px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 130px;
    margin-top: 50px;
}
*/
.emailSignupLabel{
     font-size: 14px;

 }

 .signupemailbox{
    height: 3vh;
 }



#signupButton{
     width: 20.5vw;
    height: 4vh;
    background-color:#ff3939;
    color: white;
    border-radius: 12px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    top: 1vh;

}
