
.bookings-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid blue; */
  padding-top: 10vh;
  height: 100%;
  z-index: 1;
}

.booking-img{
  max-width: 15w;
  width:15vw;
  height: 25vh;
  border-radius: 7px;
}

.booking-card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  width: 90%;
  height:40vh;
}

.booking-details{
  /* border: 1px solid blue; */
  height: 25vh;
  position: relative;
  left: 5vw;
  top: 5vh;
}

.calendar-wrapper{
  position:relative;
  /* top: 2vh; */
}

.price-container{
  display: flex;
  position: relative;
  left: 1vw;
}

#price-night{
  position: relative;
  left: 0.5vw;
  top: 1.25vh;
}

.price{
  position: relative;
  font-size: 20px;
  position: relative;
  top: 3.3vh;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.calendar-container{
  /* border: 1px solid blue; */
  /* position: sticky; */
  display: flex;
  flex-direction: column;
  height: 27vh;
  position: relative;
  /* bottom: 8vh; */
  /* left: 5vw; */
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 6px 16px rgb(0 0 0 / 12%);
  width: 20vw;
  z-index: 0;
}

.calenders{
  display: flex;
  position: relative;
  top: 1vh;

  /* right: 7vw;
  width: 40vw;;
  height: 20vh; */
  /* border: 1px solid red; */
}

#calendar-button{
  /* min-height: 35px; */
  height: 5vh;
  width: 18vw;
  position: relative;
  top: 6vh;
  left: 1vw;
}

#booking-checkin{
  height: 5vh;
  border-radius: 5px;
  width: 100px;
  position: relative;
  top: 4vh;
  left: 1vw;
}

.input-text-checkin{
  margin: 0;
  position: absolute;
  bottom: 3vh;
  left: 1vw;
}

.input-text-checkout{
  position: absolute;
  margin: 0;
  left: 11vw;
}
