.bookings-container{
  border: 1px solid blue;
  padding-top: 10vh;
  height: 100%;
}

.booking-img{
  max-width: 15w;
  width:15vw;
  height: 25vh;
}

.booking-card{
  border: 1px solid blue;
  max-width: 40vw;
  height:40vh;
}
