
.review-input-field{
  width:50vw;
  height: 5vh;
  border-radius: 5px;
  /* border: 1px solid pink; */
}
.reviewForm{
position: relative;
left: 0.75vh;
/* border: 1px solid blue; */
top: 5vh;
}

.edit-ReviewForm {

}
.someDiv{
  position: relative;
  bottom: 4vh;
}
.review-form-container{
  width: 65vw;
  border: 1px solid black;
  height: 15vh;
}

.review-submit{
 height: 5.75vh;
 width: 5vw;
 position:relative;
 left: 1vh;
}

#review-cancel{
  width: 5vw;
}

.review-rating-field{
  height: 5vh;
  width: 7vw;
  border-radius: 5px;
  position: relative;
  left: 0.5vh;
}
