
.review-input-field{
  width:50vw;
  height: 5vh;
  /* border: 1px solid pink; */
}
.reviewForm{
  /* width:100vw; */
  /* border: 1px solid blue; */
}

.review-form-container{

  /* border: 1px solid black; */
}

.review-submit{
 height: 5.75vh;
}

.review-rating-field{
  width: 10vw;
  height: 5vh;
}
